*.Rproj
*.DS_Store
*.Rproj.user/
*.snakemake/
*.RData
*.pdf
*.Rhistory
.Rproj.user
.Rhistory
.idea/**
tests/testdata
tests/__pycache__
tests/.idea
tests/.pytest_cache
analysis.Rproj
NA
logs
tmp
mysnakemake.log
mysnakemake-err.log
